body {
  margin:0;
  padding:0;
  background-color:#cdd2d4;

  #map {
    width:100vw;
    height:100vh;
  }

  .point-feature-icon {
    width:16px !important;
    height:16px !important;
    margin:-8px 0 0 -8px !important;
    border-radius:999px;
    background-color:blue;
    opacity:.3 !important;

  }

  .point-feature-icon-blue {
    background-color:blue;
  }

  .point-feature-icon-red {
    background-color:red;
  }
}
body {
  font-family: 'Ubuntu', sans-serif;
  line-height:1.5em;
  font-size:14px;
}
#map {
  background-color:transparent;
}

#map-instruction {
  position:absolute;
  top:20%;
  left:40%;
  width:200px;
  text-align:center;
  color:#fff;
  font-size:125%;

  display:block;
  @media (max-width: 720px) {
    display:none;
  }
}

#legend-layer-menu-min {
  display:block;
  background-color:#fff;
  border:solid 1px #aaa;
  width:21px;
  height:15px;
  position:absolute;
  top:10px;
  right:10px;
  padding:10px;
  cursor:pointer;

  &:hover {
    background-color:rgb(103,171,236);
  }

  svg {
    width:28px;
    margin:-1px 0 0 -5px;
  }

  display:none;
  @media (max-width: 720px) {
    display:block;
  }
}

#legend-layer-menu {

  display:block;
  @media (max-width: 720px) {
    display:none;
  }
}

#legend-layer-menu {

  background-color:rgba(256,256,256,.9);
  max-height:95vh;

  .close-button {
    display:none;
  }

  display:block;
  @media (max-width: 720px) {
    display:none;

    &.open {
      display:block;
      top:0;
      right:0;
      bottom:0;
      left:0;
      width:100vw;
      z-index: 1000;
    }

    .close-button {
      display:block;
      width:25px;
      position:absolute;
      top:10px;
      right:29px;
      cursor:pointer;

      circle, line {
        stroke:#000;
      }

      &:hover {
        circle, line {
          stroke:rgb(103,171,236);
        }
      }
    }
  }

  .loading {
    position:absolute;
    top:8px;
    width:15px;
    height:15px;
    -moz-transform:scale(0.6);
    -webkit-transform:scale(0.6);
    -ms-transform:scale(0.6);
    -o-transform:scale(0.6);
    transform:scale(0.6);

    position:absolute;
    right:10px;

    .f_circleG{
    position:absolute;
    background-color:#eee;
    height:3px;
    width:3px;
    -moz-border-radius:1px;
    -moz-animation-name:f_fadeG;
    -moz-animation-duration:1.04s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:1px;
    -webkit-animation-name:f_fadeG;
    -webkit-animation-duration:1.04s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:1px;
    -ms-animation-name:f_fadeG;
    -ms-animation-duration:1.04s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:1px;
    -o-animation-name:f_fadeG;
    -o-animation-duration:1.04s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:1px;
    animation-name:f_fadeG;
    animation-duration:1.04s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    }

    #frotateG_01{
    left:0;
    top:6px;
    -moz-animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
    -ms-animation-delay:0.39s;
    -o-animation-delay:0.39s;
    animation-delay:0.39s;
    }

    #frotateG_02{
    left:2px;
    top:2px;
    -moz-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    -o-animation-delay:0.52s;
    animation-delay:0.52s;
    }

    #frotateG_03{
    left:6px;
    top:0;
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    -o-animation-delay:0.65s;
    animation-delay:0.65s;
    }

    #frotateG_04{
    right:2px;
    top:2px;
    -moz-animation-delay:0.78s;
    -webkit-animation-delay:0.78s;
    -ms-animation-delay:0.78s;
    -o-animation-delay:0.78s;
    animation-delay:0.78s;
    }

    #frotateG_05{
    right:0;
    top:6px;
    -moz-animation-delay:0.91s;
    -webkit-animation-delay:0.91s;
    -ms-animation-delay:0.91s;
    -o-animation-delay:0.91s;
    animation-delay:0.91s;
    }

    #frotateG_06{
    right:2px;
    bottom:2px;
    -moz-animation-delay:1.04s;
    -webkit-animation-delay:1.04s;
    -ms-animation-delay:1.04s;
    -o-animation-delay:1.04s;
    animation-delay:1.04s;
    }

    #frotateG_07{
    left:6px;
    bottom:0;
    -moz-animation-delay:1.17s;
    -webkit-animation-delay:1.17s;
    -ms-animation-delay:1.17s;
    -o-animation-delay:1.17s;
    animation-delay:1.17s;
    }

    #frotateG_08{
    left:2px;
    bottom:2px;
    -moz-animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
    -ms-animation-delay:1.3s;
    -o-animation-delay:1.3s;
    animation-delay:1.3s;
    }

    @-moz-keyframes f_fadeG{
    0%{
    background-color:#67ACEC}

    100%{
    background-color:#eee}

    }

    @-webkit-keyframes f_fadeG{
    0%{
    background-color:#67ACEC}

    100%{
    background-color:#eee}

    }

    @-ms-keyframes f_fadeG{
    0%{
    background-color:#67ACEC}

    100%{
    background-color:#eee}

    }

    @-o-keyframes f_fadeG{
    0%{
    background-color:#67ACEC}

    100%{
    background-color:#eee}

    }

    @keyframes f_fadeG{
    0%{
    background-color:#67ACEC}

    100%{
    background-color:#eee}

    }
  }
}

.leaflet-bar {
  box-shadow:none;
  border-radius:0;
  border:solid 1px #aaa;

  a, a:first-child, a:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    &:hover {
      background-color:rgb(103,171,236);
    }
  }
}

.hidden {
  display:none;
}

.input-form {
  position:absolute;
  top:0;
  left:0;
  background-color:white;
  border:solid 1px #aaa;
  box-shadow:1px 1px 1px rgba(0,0,0,.4);
  padding:10px;
}
.input-form input {
  width:100px;
  margin-right:10px;
}
