.ecoengine-compare {
  font-family: 'Roboto', sans-serif;
  line-height:1.5em;
  font-size:14px;

  margin:0;
  padding:0;
  background-color:#cdd2d4;

  .interface-title {
    background-color: rgb(0,180,228);
    padding: 10px;
    color: white;
    display:none;

    @media (max-width: 720px) {
      display:block;
    }
  }

  #map {
    width:100vw;
    height:100vh;

    svg {
      pointer-events: none;
    }
    .hexbin-hexagon {
      pointer-events: all;
      opacity: 0.65;
    }

    .leaflet-popup{
      pointer-events: none;
      margin-top: -3px;
    }
  }

  .point-feature-icon {
    width:16px !important;
    height:16px !important;
    margin:-8px 0 0 -8px !important;
    border-radius:999px;
    background-color:blue;
    opacity:.3 !important;

  }

  .point-feature-icon-blue {
    background-color:blue;
  }

  .point-feature-icon-red {
    background-color:red;
  }

  .hexbin-hexagon {
    cursor: pointer;
  }

  #map {
    background-color:transparent;
  }

  #legend-layer-menu-min {
    display:block;
    background-color:#fff;
    border:solid 1px #aaa;
    height: 16px;
    width: 19px;
    position:absolute;
    top: 10px;
    right:10px;
    padding:10px;
    cursor:pointer;

    @media (max-width: 720px) {
      top: 51px;
    }

    &:hover {
      background-color:rgb(0,180,228);
    }

    svg {
      height: 26px;
      width: 28px;
      margin:-1px 0 0 -5px;
    }

    display:none;
    @media (max-width: 720px) {
      display:block;
    }
  }

  #legend-layer-menu {

    display:block;
    @media (max-width: 720px) {
      display:none;
    }
  }

  #legend-layer-menu {

    background-color:rgba(255,255,255,.9);

    .interface-title {
      margin-top: -9px;
      margin-left: -9px;
      margin-right: -9px;

      display:block;
    }

    .close-button {
      display:none;
    }

    .share-button {
      fill: white;
      width: 18px;
      height: 18px;
      z-index: 100;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor:pointer;
    }

    display:block;
    @media (max-width: 720px) {
      display:none;

      &.open {
        display:block;
        top:0;
        right:0;
        bottom:0;
        left:0;
        width:100vw;
        z-index: 1000;
      }

      .close-button {
        display:block;
        width:25px;
        position:absolute;
        top: 52px;
        right:29px;
        cursor:pointer;

        circle, line {
          stroke:#000;
        }

        &:hover {
          circle, line {
            stroke:rgb(0,180,228);
          }
        }
      }

    }

    .draggable {
      min-height:31px;

      &.progress {
        .delete-icon {
          display:none;
        }
      }
    }

    .loaderwrapper {
      width: 31px;
      height: 29px;
      position: absolute;
      top: 0;
      right: 0;
      box-sizing: border-box;
      cursor: pointer;
    }

    .loading {
      position:absolute;
      top:8px;
      width:15px;
      height:15px;
      -moz-transform:scale(0.6);
      -webkit-transform:scale(0.6);
      -ms-transform:scale(0.6);
      -o-transform:scale(0.6);
      transform:scale(0.6);

      position:absolute;
      right:5px;

      .f_circleG{
      cursor:pointer;
      position:absolute;
      background-color:#eee;
      height:3px;
      width:3px;
      -moz-border-radius:1px;
      -moz-animation-name:f_fadeG;
      -moz-animation-duration:1.04s;
      -moz-animation-iteration-count:infinite;
      -moz-animation-direction:linear;
      -webkit-border-radius:1px;
      -webkit-animation-name:f_fadeG;
      -webkit-animation-duration:1.04s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-direction:linear;
      -ms-border-radius:1px;
      -ms-animation-name:f_fadeG;
      -ms-animation-duration:1.04s;
      -ms-animation-iteration-count:infinite;
      -ms-animation-direction:linear;
      -o-border-radius:1px;
      -o-animation-name:f_fadeG;
      -o-animation-duration:1.04s;
      -o-animation-iteration-count:infinite;
      -o-animation-direction:linear;
      border-radius:1px;
      animation-name:f_fadeG;
      animation-duration:1.04s;
      animation-iteration-count:infinite;
      animation-direction:linear;
      }

      #frotateG_01{
      left:0;
      top:6px;
      -moz-animation-delay:0.39s;
      -webkit-animation-delay:0.39s;
      -ms-animation-delay:0.39s;
      -o-animation-delay:0.39s;
      animation-delay:0.39s;
      }

      #frotateG_02{
      left:2px;
      top:2px;
      -moz-animation-delay:0.52s;
      -webkit-animation-delay:0.52s;
      -ms-animation-delay:0.52s;
      -o-animation-delay:0.52s;
      animation-delay:0.52s;
      }

      #frotateG_03{
      left:6px;
      top:0;
      -moz-animation-delay:0.65s;
      -webkit-animation-delay:0.65s;
      -ms-animation-delay:0.65s;
      -o-animation-delay:0.65s;
      animation-delay:0.65s;
      }

      #frotateG_04{
      right:2px;
      top:2px;
      -moz-animation-delay:0.78s;
      -webkit-animation-delay:0.78s;
      -ms-animation-delay:0.78s;
      -o-animation-delay:0.78s;
      animation-delay:0.78s;
      }

      #frotateG_05{
      right:0;
      top:6px;
      -moz-animation-delay:0.91s;
      -webkit-animation-delay:0.91s;
      -ms-animation-delay:0.91s;
      -o-animation-delay:0.91s;
      animation-delay:0.91s;
      }

      #frotateG_06{
      right:2px;
      bottom:2px;
      -moz-animation-delay:1.04s;
      -webkit-animation-delay:1.04s;
      -ms-animation-delay:1.04s;
      -o-animation-delay:1.04s;
      animation-delay:1.04s;
      }

      #frotateG_07{
      left:6px;
      bottom:0;
      -moz-animation-delay:1.17s;
      -webkit-animation-delay:1.17s;
      -ms-animation-delay:1.17s;
      -o-animation-delay:1.17s;
      animation-delay:1.17s;
      }

      #frotateG_08{
      left:2px;
      bottom:2px;
      -moz-animation-delay:1.3s;
      -webkit-animation-delay:1.3s;
      -ms-animation-delay:1.3s;
      -o-animation-delay:1.3s;
      animation-delay:1.3s;
      }

      @-moz-keyframes f_fadeG{
      0%{
      background-color:#67ACEC}

      100%{
      background-color:#eee}

      }

      @-webkit-keyframes f_fadeG{
      0%{
      background-color:#67ACEC}

      100%{
      background-color:#eee}

      }

      @-ms-keyframes f_fadeG{
      0%{
      background-color:#67ACEC}

      100%{
      background-color:#eee}

      }

      @-o-keyframes f_fadeG{
      0%{
      background-color:#67ACEC}

      100%{
      background-color:#eee}

      }

      @keyframes f_fadeG{
      0%{
      background-color:#67ACEC}

      100%{
      background-color:#eee}

      }
    }
  }

  .leaflet-bar {
    box-shadow:none;
    border-radius:0;
    border:solid 1px #aaa;

    a, a:first-child, a:last-child {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      &:hover {
        background-color:rgb(0,180,228);
      }
    }

    .hidden {
      display:none;
    }

  }

  /* Sweet Alert overides */
  .sweet-alert {
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    font-size:100%;

    h2 {
      font-weight: normal;
      margin:0;
      font-size:125%;
    }

    button {
      border-radius:0;
      font-size:100%;

      &:hover {
        background-color:rgb(0,180,228) !important;
      }
    }
  }

  .input-form {
    position:absolute;
    top:0;
    left:0;
    background-color:white;
    border:solid 1px #aaa;
    box-shadow:1px 1px 1px rgba(0,0,0,.4);
    padding:10px;
  }
  .input-form input {
    width: 98%;
    margin-bottom:5px;
  }

}

.legend-layer-menu {
  position:absolute;
  top:10px;
  right:10px;
  border:solid 1px #aaa;
  width: 270px;
  padding:10px;
  background-color:#fff;
  box-sizing:border-box;

  h2 {
    position:relative;
    font-size: 125%;
    font-weight: normal;

    .input-form {

      button {
        margin-right:5px;
      }

      &.hidden {
        display:none;
      }
    }
  }

  select {
    width: 100%;
  }

  .content-container {
    position:relative;

    button {
      border:solid 1px #aaa;
      background-color:white;
      padding:3px 5px;
    }

    button:hover {
      background-color:rgb(0,180,228);
      color:white;
      cursor:pointer;
    }
  }

  .dropzone {
    border: dashed 1px transparent;
    padding: 10px;
    transition: background-color 0.3s, border-color 0.3s;
    min-height:25px;
    z-index:1;
  }

  .drop-active {
    border-color: #333;
  }

  .drop-target {
    background-color: rgb(0,180,228);
  }

  .drag-drop {
    display:inline-block;
    min-width: 40px;
    padding: 3px;
    padding-left: 25px;
    box-sizing:border-box;

    border: solid 1px #eee;

    background-color:#fff;

    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);

    transition: background-color 0.3s;

    width:220px;
    line-height: 13px;

    z-index:10;

    &:hover {
      cursor:normal;
    }

    &.dragging {
      box-shadow:1px 1px 1px rgba(0,0,0,.9);
    }

    .grab {
      width:20px;
      display:inline-block;
      float: left;
      cursor:move;
      margin: 5px;
    }

    .label {
      margin-left: 5px;
      font-size: 75%;
      width: 100%;
      word-wrap: break-word;
    }

    .delete-icon {
      width: 7px;
      position:absolute;
      right:10px;
      top: 11px;
      cursor:pointer;
    }

    .edit-icon {
      font-size: 75%;
      position: absolute;
      right: 13px;
      top: 6px;
      display:none;
    }

    .drag-icon {
      fill: #aaa;
      width: 21px;
      height: 13px;
      position: absolute;
      left: 6px;
      top: 8px;
    }

    .color-picker {
      padding: 0;
      border: 0;
      background-color: white;
      width: 20px;
      height: 20px;
      margin-left: 5px;
    }
  }

  .color-picker-panel {
    background-color:#fff;
    display: none;
    position: absolute;
    top: 106px;
    left: 23px;
    width:220px;
    padding:5px;
    border: solid 1px #aaa;
    box-shadow:1px 1px 1px rgba(0,0,0,.5);

    .color {
      width:20px;
      height:20px;
      float:left;
      cursor:pointer;
    }
  }

  .draggable {
    .error {
      color: #00b4e4;
      font-size: 75%;
      border: solid 1px #00b4e4;
      padding: 2px 5px;
      margin-left: 7px;
      line-height: 1.4em;
      display:none;
      margin-right: 6px;
      margin-bottom: 5px;
      margin-top: 1px;
    }
  }

  /* a fix for layering in FireFox: https://github.com/stamen/ecoengine/issues/133 */
  &.prompting {
    .draggable {
      z-index:0;
    }
  }

}
