body {
  margin:0;
  padding:0;
  background-color:#cdd2d4;

  #map {
    width:100vw;
    height:100vh;
  }

  .point-feature-icon {
    width:16px !important;
    height:16px !important;
    margin:-8px 0 0 -8px !important;
    border-radius:999px;
    background-color:blue;
    opacity:.3 !important;

  }

  .point-feature-icon-blue {
    background-color:blue;
  }

  .point-feature-icon-red {
    background-color:red;
  }
}
body {
  font-family: 'Ubuntu', sans-serif;
  line-height:1.5em;
  font-size:14px;
}
#map {
  background-color:transparent;
}

#map-instruction {
  position:absolute;
  top:20%;
  left:40%;
  width:200px;
  text-align:center;
  color:#fff;
  font-size:125%;

  display:block;
  @media (max-width: 720px) {
    display:none;
  }
}

#legend-layer-menu-min {
  display:block;
  background-color:#fff;
  border:solid 1px #aaa;
  width:21px;
  height:15px;
  position:absolute;
  top:10px;
  right:10px;
  padding:10px;
  cursor:pointer;

  &:hover {
    background-color:rgb(103,171,236);
  }

  svg {
    width:28px;
    margin:-1px 0 0 -5px;
  }

  display:none;
  @media (max-width: 720px) {
    display:block;
  }
}

#legend-layer-menu {

  display:block;
  @media (max-width: 720px) {
    display:none;
  }
}

#legend-layer-menu {

  background-color:rgba(256,256,256,.9);

  .close-button {
    display:none;
  }

  display:block;
  @media (max-width: 720px) {
    display:none;

    &.open {
      display:block;
      top:0;
      right:0;
      bottom:0;
      left:0;
      width:100vw;
      z-index: 1000;
    }

    .close-button {
      display:block;
      width:25px;
      position:absolute;
      top:10px;
      right:29px;
      cursor:pointer;

      circle, line {
        stroke:#000;
      }

      &:hover {
        circle, line {
          stroke:rgb(103,171,236);
        }
      }
    }
  }
}

.leaflet-bar {
  box-shadow:none;
  border-radius:0;
  border:solid 1px #aaa;

  a, a:first-child, a:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    &:hover {
      background-color:rgb(103,171,236);
    }
  }
}

.hidden {
  display:none;
}

.input-form {
  position:absolute;
  top:0;
  left:0;
  background-color:white;
  border:solid 1px #aaa;
  box-shadow:1px 1px 1px rgba(0,0,0,.4);
  padding:10px;
}
.input-form input {
  width:100px;
  margin-right:10px;
}
