<script src="/js/dist/vendor/require.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCN-GnHQiVvap-YQh8QykZTxJTSLsxI2uw"></script>
<script>

"use strict";

if (typeof window.innerWidth === "number" && window.innerWidth < 720 && document.getElementsByTagName("body")[0].classList) {
  document.getElementsByTagName("body")[0].classList.add("rendered-narrow");
}

require.config({
  baseUrl     : "/js/dist",
  paths       : {
    "jquery"       : 'vendor/jquery/jquery-1.10.2',
    "attrchange"   : 'vendor/attrchange',
    "modernizr"    : '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min',
    "handlebars"   : '//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min',
    "require-i18n" : "//cdnjs.cloudflare.com/ajax/libs/require-i18n/2.0.4/i18n"
  },
  waitSeconds : 15
});

require( ["view_home"] );
</script>

</body>
</html>
