<script src="/js/bower_components/requirejs/require.js"></script>
<script src="/js/require_config.js"></script>
Hi
{{#replace item="eric" with="Eric"}}Hello eric{{/replace}}
{{setScript}}
</body>
</html>
