
<script>
window.STMN = {};

STMN.googleKey = "{{envVariable var="google-key"}}";
</script>

<script src="{{siteroot}}js/ecoengine-compare.min.js"></script>
<script src="{{siteroot}}js/{{viewName}}.js"></script>

</body>
</html>
