<!DOCTYPE html>
<head>
  <meta charset="utf-8">

  <title>Richmond boilerplate</title>
  <meta name="author" content="Stamen Design">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="/css/base.css">

</head>

<body class="richmondmap" ontouchstart="" id="top">
