
<!DOCTYPE html>
<head>
  <meta charset="utf-8">

  <title>Holos test page</title>
  <meta name="author" content="Stamen Design">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="./css/vendor.css">
  <link rel="stylesheet" type="text/css" href="./css/base.css">

<div id="ecoengine-compare-container" style="position:relative;width:100vw;">
	<!-- EcoEngine Compare should replace this -->
</div>

<script src="./js/stamen/holos-init.js"></script>
<script src="./js/stamen/ecoengine-compare.min.js"></script>

</body>
</html>
