{{>header}}

<div id="map-instruction">
  To begin, add a layer in the menu →
</div>

<div id="map">
</div>

<div id="legend-layer-menu-min">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="-589 357.5 100 87.5" enable-background="new -589 357.5 100 87.5" xml:space="preserve">
  <polygon fill="#010101" points="-574.7,383 -537.7,392.3 -500.7,383 -500.7,392.3 -537.7,401.5 -574.7,392.3 "/>
  <polygon fill="#010101" points="-574.7,401.5 -537.7,410.8 -500.7,401.5 -500.7,410.8 -537.7,420 -574.7,410.8 "/>
  <polygon fill="#010101" points="-574.7,364.5 -537.7,355.2 -500.7,364.5 -500.7,373.8 -537.7,383 -574.7,373.8 "/>
  </svg>
</div>

<div id="legend-layer-menu">
  <svg class="close-button" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="-579 345 86 84" enable-background="new -579 345 86 84" xml:space="preserve">

<g id="Close">
  <circle fill="none" stroke-width="6" stroke-miterlimit="10" cx="-537.7" cy="385.4" r="34.8"/>
  <line fill="none" stroke-width="6" stroke-miterlimit="10" x1="-522" y1="401.2" x2="-553.4" y2="369.7"/>
  <line fill="none" stroke-width="6" stroke-miterlimit="10" x1="-553.4" y1="401.2" x2="-522" y2="369.7"/>
</g>
</svg>
  <div class="content-container">
    <h2>Point <button data-for="pointlayer" class="add-action">add</button></h2>
    <ul data-layername="pointlayer">
    </ul>
    <h2>Polygon <button data-for="hulllayer" class="add-action">add</button></h2>
    <ul data-layername="hulllayer">
    </ul>
    <h2>Hexagon <button data-for="hexlayer" class="add-action">add</button></h2>
    <ul data-layername="hexlayer">
    </ul>
  </div>
</div>

{{>footer}}
