{{>header}}

<style>

/* TODO: Refactor */
.dropzone {
  border: dashed 1px transparent;
  border-radius: 4px;
  padding: 10px;
  width: 300px;
  transition: background-color 0.3s, border-color 0.3s;
  min-height:50px;

  z-index:1;
}

.drop-active {
  border-color: #333;
}

.drop-target {
  background-color: #ccc;
}

.drag-drop {
  display:inline-block;
  min-width: 40px;
  padding: 3px;

  background-color: #eee;
  border: solid 1px 777 !important;

  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);

  transition: background-color 0.3s;

  width:280px;

  z-index:10;
}

.drag-drop.can-drop {
}

.dragging .drag-drop {
  position:static;
  width: 280px;
}

.grab {
  height:15px;
  width:15px;
  background-color:black;
  display:inline-block;
}

/* Page stuff */
body {
  font-family: 'Ubuntu', sans-serif;
  line-height:1.5em;
  font-size:14px;
}
#map {
  background-color:transparent;
}

#map-instruction {
  position:absolute;
  top:20%;
  left:40%;
  width:200px;
  text-align:center;
  color:#aaa;
  font-size:125%;
}

#legend-layer-menu {
  position:absolute;
  top:10px;
  right:10px;
  border:solid 1px #aaa;
  width:300px;
  padding:10px;
  background-color:#fff;
}

#legend-layer-menu .content-container {
  position:relative;
}

.leaflet-bar {
  box-shadow:none;
  border-radius:0;
  border:solid 1px #aaa;
}

button {
  border-radius:0;
  border:solid 1px #aaa;
  background-color:white;
  padding:5px 10px;
}

button:hover {
  background-color:rgb(103,171,236);
  color:white;
  cursor:pointer;
}

#legend-layer-menu .content-container h2 {
  position:relative;
}

.hidden {
  display:none;
}

.input-form {
  position:absolute;
  top:0;
  left:0;
  background-color:white;
  border:solid 1px #aaa;
  box-shadow:1px 1px 1px rgba(0,0,0,.4);
  padding:10px;
}
.input-form input {
  width:100px;
  margin-right:10px;
}
</style>

<div id="map-instruction">
  To begin, add a layer in the menu →
</div>

<div id="map">
</div>

<div id="legend-layer-menu">
  <div class="content-container">
    <h2>Point <button data-for="dropzone1" class="add-action">+</button></h2>
    <ul class="dropzone dropzone1">
    </ul>
    <h2>Polygon <button data-for="dropzone2" class="add-action">+</button></h2>
    <ul class="dropzone dropzone2">
    </ul>
    <h2>Hexagon <button data-for="dropzone3" class="add-action">+</button></h2>
    <ul class="dropzone dropzone3">
    </ul>
  </div>
</div>

{{>footer}}
