{{>header}}

<div id="map-instruction">
  To begin, add a layer in the menu →
</div>

<div id="map">
</div>

<div id="legend-layer-menu">
  <div class="content-container">
    <h2>Point <button data-for="dropzone1" class="add-action">add</button></h2>
    <ul class="dropzone dropzone1">
    </ul>
    <h2>Polygon <button data-for="dropzone2" class="add-action">add</button></h2>
    <ul class="dropzone dropzone2">
    </ul>
    <h2>Hexagon <button data-for="dropzone3" class="add-action">add</button></h2>
    <ul class="dropzone dropzone3">
    </ul>
  </div>
</div>

{{>footer}}
