{{>header}}

<div id="map-instruction">
  To begin, add a layer in the menu →
</div>

<div id="map">
</div>

<div id="legend-layer-menu">
  <div class="content-container">
    <h2>Point <button data-for="pointlayer" class="add-action">add</button></h2>
    <ul data-layername="pointlayer">
    </ul>
    <h2>Polygon <button data-for="hulllayer" class="add-action">add</button></h2>
    <ul data-layername="hulllayer">
    </ul>
    <h2>Hexagon <button data-for="hexlayer" class="add-action">add</button></h2>
    <ul data-layername="hexlayer">
    </ul>
  </div>
</div>

{{>footer}}
