{{>header}}

<style>

.dropzone1, .dropzone2, .dropzone3 {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s, border-color 0.3s;
  min-height:300px;

  z-index:1;
  position:static;
}

.drop-active {
  border-color: #666;
}

.drop-target {
  background-color: #29e;
}

.drag-drop {
  display:inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  background-color: #99e;
  border: solid 2px white;

  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);

  transition: background-color 0.3s;

  width:100%;

  position:static;
  z-index:10;
}

.drag-drop.can-drop {
  background-color: #4e4;
}

.dragging .drag-drop {
  position:fixed;
}
</style>

<div id="hash-display"></div>

<ul class="dropzone dropzone1">
  <li id="yes-drop" class="draggable drag-drop" data-position="1"> <div class="grab" style="height:100px;width:100px;background-color:black;"></div> #yes-drop </li>
</ul>
<br><br>
<ul class="dropzone dropzone2">
  <li id="yes-drop-2" class="draggable-2 drag-drop" data-position="1"> #yes-drop-2 </li>
</ul>
<br><br>
<ul class="dropzone dropzone3">
</ul>

{{>footer}}
